.navbarcontainer {
  display: flex;
  background-color: #049790;
  width: 100%;
  background: linear-gradient(to right, #049790, #ca7d24);
}

.navbarbox {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
}

.navbarlogo {
  display: flex;
  color: #cacaca;
}

.navbarmenu {
  display: flex;
  align-items: last baseline;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  height: auto;
}

.customlink {
  box-shadow: 5px 5px 5px rgb(69, 67, 67);
  font-weight: bold;
}

.cartWidgetfromCart {
  align-self: right;
  align-content: end;
  text-align: end;
  margin-left: 20%;
}
